
/*--------------------------  MEDIA TAG   ------------------------- */
@media (max-width: 1200px) and (min-width: 1000px) {
	.text {
		font-size: 19.5px;
	}
	.section__2-title {
		font-size: 40px;
	}
}
@media(min-width: 1200px) and (max-width: 1400px) {
	.text {
		font-size: 26px;
	}
	.section__2-title {
		font-size: 42px;
	}
	.section__2-subtitle {
		margin: auto;
	}
	.section__2-text {
		margin: auto;
	}
}


@media (max-width: 1000px) {
	.section__1-wrap {
		justify-content: center;
	}
	.section__2-title {
		padding-bottom: 15px;
		font-size: 38px;
		margin: auto;
		text-align: center;
	}
	.section__2-subtitle {
		padding-bottom: 15px;
		font-size: 18px;	
		margin: auto;
		width: 100%;
	}
	.section__2-text {
		padding-bottom: 15px;
		width: 100%;
		font-size: 18px;
		margin: auto;
	}
	.section__2-image {width: 100%}
	.section__1-icon {
		width: 45px !important;
		margin-left: 0.3rem !important;
	}
	.section__1-icon:hover {
		width: 50px !important;
		transition: 0.2s !important;
	}
}
/*------------------------------ END (MEDIA)---------------------------------*/
/*--------------------------------- START -----------------------------------*/
body {
	background-color: #a6b4e9;
	color: #000;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	margin: auto;
}
body b {
	font-weight: 500;
}
/*------------------------------------ HEADER --------------------------------*/

.header {
	background-color: #043c1d;
	opacity: .8;
}
.header__title-wrap {
	display: flex;
	align-items: center;
	text-align: center;
	animation: bottom 0.8s;
}
.header__logo {
	height: 40px;
}
.header__text {
	font-size: 28px;
	color: #ffc629;
	margin: 0;
	text-transform: uppercase;
}

@keyframes bottom {
	from {
		opacity: 0;
		transform: translateY(40%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*----------------------------------- HEADER-END -----------------------------*/
/*-----------------------------------  SECTION-1------------------------------*/
.section__1 {
	height: 100vh;
	min-height: 300px;
	transition: .5s;
}
.section__1-wrap {
	margin: auto;
	height: 90%;
	width: 85%;
	display:flex;
	justify-content: flex-end;
	align-items: end;
}
.section__1-icon {
	width: 60px;
	margin-left: 0.75rem;
}
.section__1-icon:hover {
	width: 65px;
	transition: 0.2s;
}
/*----------------------------------- SECTION-1 END ------------------------------*/
/*------------------------------------- SECTION-2 --------------------------------*/
.section__2 {
	background-color: #a6b4e9;
	color: #000;
}
.section__2-title {
	font-size: 55px;
	font-weight: 500;
	width: 95%;
	position: relative;
}
.section__2-subtitle {
	width: 99%;
	font-size: 22px;
	text-align: left;
}
.section__2-text {
	width: 100%;
	font-size: 22px;
	text-align: left;
}
.section__2-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
.section__2-image {
	width: 88%;
}
/*----------------------------------- SECTION-2 END --------------------------------*/
/*------------------------------------ OUR PRODUCT ---------------------------------*/
.container__products {
	height: 120px;
	background-color: #043c1d;
}
.container__products-wrap {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.our__products {
	opacity: 0.9;
	color: #fff;
	font-weight: 600;
	font-size: 55px;
	position: relative;
}
.our__products::after {
	display: block;
  width:23%;
  content: '';
  position: absolute;
  border-bottom: 2px solid #fff;
  top:50%; 
  right: 110%; 
}
.our__products::before {
	display: block;
  width:23%;
  content: '';
  position: absolute;
  border-bottom: 2px solid #fff;
  top:50%; 
  left: 110%; 
}
/*----------------------------------- OUR PRODUCT END -----------------------------*/
/*-------------------------------------- SECTION-3 --------------------------------*/
.section__3-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 650px;
	justify-content: space-between;
}
.section__3-image {
	width: 50%;
}
.section__3-title {
	font-size: 35px;
	font-weight: 500;
	text-align: center;
}

.section__3-text {
	font-size: 22px;
	width: 98%;
}

.section__3-button {
	border: 2px solid #000;
	font-weight: 600;
	font-size: 23px;
	border-radius:30px;
	padding: 10px 15px;
}
.section__3-button:hover {
	color: #fff;
	background-color: #000;
	transition: 0.8s;
}
/*-----------------------------------SECTION 3 END---------------------------------*/
/*------------------------------MEDIA FOR 3-CONTAINER------------------------------*/
@media (max-width: 800px) {
	.our__products {
		font-size:35px;
	}
	.section__3-text {
		font-size: 20px;
	}
}
@media (max-width: 500px) {
	.section__3-wrap {
		height: 560px;
	}
	.our__products {
		font-size: 28px;
	}
	.section__3-text {
		font-size: 16px;
	}
	.section__2-title {
		padding-bottom: 10px;
		font-size: 34px;
		margin: auto;
		text-align: center;
	}
	.section__2-subtitle {
		padding-bottom: 10px;
		font-size: 16px;	
		margin: auto;
		width: 100%;
	}
	.section__2-text {
		padding-bottom: 10px;
		width: 100%;
		font-size: 16px;
		margin: auto;
	}
}
/*---------------------------END MEDIA FOR CONTAINER 3 ------------------------*/
/*-----------------------------------SECTION-4---------------------------------*/
.section__4 {
	background-color: #043c1d;
	color: #fff;
}
.section__4-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section__4-number {
	font-size: 46px;
	font-weight: 600;
	position: relative;
}
.section__4-number::after {
	display: inline-block;
	position: absolute;
	content: '+';

}
.section__4-clients {
	font-size: 26px;
}
/*---------------------------------- SECTION 4 END --------------------------------*/
/*------------------------------------ SECTION 5 ----------------------------------*/
.section__5 {
	background-color: #a6b4e9;
}
.section__5-mission__wrap {
	min-height: 500px;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.section__5-text {
	font-size: 55px;
	font-weight: 500;
}
.section__5-mission__wrap span {
	text-transform: uppercase;
}
.section__5-subtext {
	font-size: 18.5px;
}
.section__5-img {
	height: 100px;
}
.section__5-button {
	border: 2px solid #000;
	font-weight: 600;
	font-size: 23px;
	border-radius:30px;
	padding: 10px 15px;
}
.section__5-button:hover {
	background-color: #000;
	color: #a6b4e9;
	transition: 0.8s;
}
/*---------------------------------------- MEDIA (SECTION-5, 6) -----------------------------------------*/
@media (max-width: 576px) {
	.section__3-wrap {
		width: 90%;
		margin: 0 auto;
}
	.section__5-mission__wrap {
		margin: 0 auto;
		min-height: 560px;
		height: 60vh;
		width: 90%;
}
	.section__5-text {
		font-size: 38px;
	}
	.section__5-button {
		padding: 12px 17px 12px 17px;
		font-size: 20px;
	}
	.section__2-text {
		width: 90%;
		margin: 0 auto;
	}
	.section__2-subtitle {
		width: 90%;
		margin: 0 auto;
	}
	.section__6-title {
		font-size: 32.5px !important;
	}
	.section__6-title::after {
 		display: none !important;
	}
	.section__6-title::before {
  		display: none !important;
	}
}
@media (min-width: 576px) and (max-width: 768px) {
	.section__5-text {
		font-size: 45px;
	}
	.section__5-subtext {
		font-size: 20px;
	}
	.section__6-title {
		font-size: 38px !important;
	}
	.section__6-title::after {
 		border-bottom: 2px solid #000;
 		width: 13%;
	}
	.section__6-title::before {
  		border-bottom: 2px solid #000;
  		width: 13%;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.section__5-text {
		font-size: 46px;
	}
	.section__5-subtext {
		font-size: 20.5px;
	}
	.section__6-title {
		font-size: 44px !important;
	}
	.section__6-title::after {
 		border-bottom: 2px solid #000;
 		width: 13%;
	}
	.section__6-title::before {
  		border-bottom: 2px solid #000;
  		width: 13%;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.section__5-mission__wrap {
		min-height: 580px;
	}
	.section__5-text {
		font-size: 45px;
	}
	.section__5-subtext {
		font-size: 22px;
	}
}
@media (min-width: 1200px) and (max-width: 1400px) {
	.section__5-mission__wrap {
		min-height: 580px;
	}
	.section__5-text {
		font-size: 50px;
	}
	.section__5-subtext {
		font-size: 23px;
		width: 95%;
	}
}
@media (min-width: 1400px) {
	.section__5-mission__wrap {
		min-height: 600px;
	}
	.section__5-text {
		font-style: 52px;
	}
	.section__5-subtext {
		font-size: 23px;
	}
}
/*------------------------------------- MEDIA END (SECTION-5,6) -----------------------------------------*/
.section__manufacturers {
	height: 120px;
}
.section__6-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section__6-title {
	color: #000;
	font-weight: 600;
	font-size: 55px;
	position: relative;
}
.section__6-title::after {
	display: block;
 	width:23%;
 	content: '';
 	position: absolute;
 	border-bottom: 3px solid #000;
  	top:50%; 
 	right: 110%; 
}
.section__6-title::before {
	display: block;
  	width:23%;
  	content: '';
  	position: absolute;
  	border-bottom: 3px solid #000;
  	top:50%; 
  	left: 110%; 
}